. {
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 576px;
    height: 706px;
    margin: 0 auto;
    text-align: center;
    background-image: url("Rectangle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 30%;
    z-index: -200;

}
h1{
    font-size: 38px;
    background: linear-gradient(75deg, #F5A54F 100%, #F6D659 100%, #CA823B 100%, #CA823B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    padding-top: 45px;
}
.wheel {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: -5;
    background-image: url("fon_ring.png");
    background-repeat: no-repeat;
}

.arrow {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    z-index: 100;
    background-repeat: no-repeat;
    background-image: url("l.png");
}

.spin {
    background: #CC1D1D;
    width: 228px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    z-index: 10;
    margin-top: 50px;
}
.rotating {
    transition: all 3s;
    transition-timing: ease-in-out;
}
